/*color*/
$white: #FFF;
$color-text-base: #434A54;
$gray: #DDDDDD;
$light-gray: #999999;
$color-blue-dark: #253141;
$color-blue-main: #2F3E51;
$color-blue-bright: #38AEF0;
$color-red-bright: #f05050;
$chat-bg-color: #FAFAFA;
$bg-alert-color: #D65F4C;
$bg-notice-color: #38AEF0;

/*size*/
$navbar-width: 300px;
$header-height: 100px;
$footer-height: 90px;
